= simple_form_for message, remote: true, authenticity_token: true do |f|
  = f.hidden_field :room_id, value: room.id
  .row
    .col-xs-8= f.input :content, label: false, placeholder: 'Say something...'
    .col-xs-4.submit-wrapper= f.button :submit, "Send", class: "btn btn-primary"
