.panel.panel-primary#scoreboard
  .panel-heading.text-center
    %span{ style: 'color: white' }
      %strong= game.player1&.username
    - if game.players.size == 2
      %span{ style: 'color: skyblue' } vs
    %span{ style: 'color: black' }
      %strong= game.player2&.username
  .panel-body.text-center
    .blink-after-move
      - if game.game_over?
        Game over. Winner:
        %strong= game.board.winner
      - elsif game.players.size == 2
        Now playing:
        %strong= game.current_player.username
      - else
        Waiting for opponent...
