.panel.panel-default
  .panel-heading
    Chat
  .panel-body#messages
    = render partial: 'messages/message', collection: @room.messages.reverse
= render partial: 'messages/message_form', locals: { message: @message, room: @room }
